<!-- Título de la tabla -->
<h3 class="titleText2">{{'PARTNERS' | oTranslate }}</h3>

<!-- Formulario y configuración de la tabla de socios -->
<o-form separator=" " mode="tab" label-columns="name;surname" attr="tabla_partners" class="form-background"
    editable-detail="no">
    <div class="center">

        <!-- Tabla de partners -->
        <o-table #table fxFlex resizable="yes" attr="tableUsers" entity="partner" service="users" keys="user_"
            columns="user_;name;surname;email;productName;country;language;company"
            visible-columns="user_;name;surname;productName;country;language;company" sort-columns="SURNAME"
            query-on-init="true" quick-filter="true" filter-case-sensitive="false" insert-button="true"
            export-button="true" columns-visibility-button="true" delete-button="true" refresh-button="true"
            auto-adjust="false" class="userTable" select-all-checkbox="true" show-buttons-text="false" controls="true"
            show-title="true" pagination-controls="no" edition-mode="none" detail-mode="click" horizontal-scroll="false"
            virtual-scroll="no" editable-detail="true" auto-align-titles="yes">

            <!-- Columna para el nombre de usuario -->
            <o-table-column attr="user_"></o-table-column>

            <!-- Columna para el nombre -->
            <o-table-column attr="name"></o-table-column>

            <!-- Columna para el apellido -->
            <o-table-column attr="surname"></o-table-column>

            <!-- Columna para el país (se traduce automáticamente) -->
            <o-table-column attr="country" type="translate"></o-table-column>

            <!-- Columna para el idioma (se traduce automáticamente) -->
            <o-table-column attr="language" type="translate"></o-table-column>

            <!-- Columna para la empresa -->
            <o-table-column attr="company"></o-table-column>

            <!-- Columna para el nombre del producto -->
            <o-table-column attr="productName"></o-table-column>

            <!-- Configuración del paginador de la tabla -->
            <o-table-paginator page-size-options="10;15"></o-table-paginator>
        </o-table>

    </div>
</o-form>