<!-- Encabezado de nivel 1 que muestra el texto "PRIVATE AREA" traducido mediante la función oTranslate -->
<h1 class="titleText2">{{ 'PRIVATE AREA' | oTranslate }}</h1>

<!-- Inicio del formulario con la configuración del servicio "personalDocuments" y la entidad "myPersonalFiles".-->
<o-form #form service="personalDocuments" entity="myPersonalFiles" keys="id" header-actions="" show-header="no"
  class="form-background" header-mode="none" editable-detail="no">

  <!-- Contenedor del campo de entrada de texto oculto con el atributo "name" -->
  <div class="center">
    <o-text-input oHidden class="input-padding" attr="name" fxFlex="100"></o-text-input>
  </div>
  <!-- Campo de entrada numérica oculto con el atributo "id" -->
  <o-integer-input oHidden attr="id" class="form-field"></o-integer-input>

  <!-- Tabla con la configuración del servicio "personalDocuments" y la entidad "myPersonalFiles".-->
  <o-table #table service="personalDocuments" entity="myPersonalFiles" keys="id" show-buttons-text="false"
    show-header-navigation="no" keys-sql-types="INTEGER"
    columns="id;name;document_type;user_id;personal_document_id;type_name" visible-columns="name;description;action"
    query-on-init="true" quick-filter="true" filter-case-sensitive="false" insert-button="false" export-button="true"
    columns-visibility-button="true" delete-button="false" refresh-button="false" select-all-checkbox="true"
    show-buttons-text="false" controls="true" show-title="true" pagination-controls="no" edition-mode="none"
    detail-mode="click" horizontal-scroll="false" auto-adjust="true" virtual-scroll="no" editable-detail="true"
    class="background" [show-expandable-icon-function]="hasChilds">
    <!-- Botón personalizado para descargar los elementos seleccionados en la tabla.-->
    <o-table-button attr="download" title="Descargar seleccionados" (onClick)="downloadZip($event)"
      icon="compress"></o-table-button>
    <!-- Columna de la tabla para el campo "name".-->
    <o-table-column attr="name" title="{{'Nombre' | oTranslate }}" width="100px"></o-table-column>
    <!-- Columna de la tabla para el campo "description".-->
    <o-table-column attr="description" title="{{'description' | oTranslate }}" width="100px"></o-table-column>

    <!-- Columna de la tabla para la acción de descarga.-->
    <o-table-column attr="action" width="10px">
      <o-table-cell-renderer-action (onClick)="actionClick($event)" icon="download"></o-table-cell-renderer-action>
    </o-table-column>

  </o-table>


</o-form>