  .showMore-container {
    margin-left: auto;
    margin-top: auto;
  }
  
  .showMore{
    border: 1px solid #d3d3d3;
    color: #d3d3d3;
    background: white;
    cursor: pointer;
  }
  
  .showMore:hover{
    color: whitesmoke;
    background-color: #d3d3d3;
    border: 1px solid #d3d3d3;
    transition: 0.5s;
  }

  .description{
    margin-top: -20px;
  }
  