<h1 class="titleText2">{{'Alta Partner' | oTranslate }}</h1>
<!-- Título "Alta Partner" con una posible traducción utilizando la directiva oTranslate -->

<o-form service="users" entity="newPartner" keys="user_" header-actions="I" show-header-actions-text="no"
  show-header-navigation="no" class="form-background">
  <!-- Formulario o-form con configuraciones y atributos -->

  <div>
    <div class="center">
      <!-- Div con clase "center" para centrar los elementos internos -->

      <o-row class="form-row">
        <!-- Fila o-row con clase "form-row" para agrupar elementos del formulario -->
        <o-text-input class="input-padding" attr="name" fxFlex="100" required="yes" label="Nombre"
          class="margin"></o-text-input>
        <!-- Input de texto con atributos y configuraciones -->
        <o-text-input class="input-padding" attr="surname" fxFlex="100" required="yes" label="Apellido"></o-text-input>
        <!-- Input de texto con atributos y configuraciones -->
      </o-row>

      <o-row class="form-row">
        <!-- Otra fila o-row con clase "form-row" -->
        <o-text-input class="input-padding" attr="user_" fxFlex="100" required="yes" label="Email"
          class="margin"></o-text-input>
        <!-- Input de texto con atributos y configuraciones -->
        <o-text-input class="input-padding" attr="company" fxFlex="50" required="yes"></o-text-input>
        <!-- Input de texto con atributos y configuraciones -->
      </o-row>

      <o-row class="form-row">
        <!-- Otra fila o-row con clase "form-row" -->
        <o-password-input class="input-padding" attr="password" fxFlex="100" required="yes"
          (onChange)="reviewMatches($event)" label="Contraseña" show-password-button="yes"
          [validators]="validatorsArray" class="margin">
          <o-validator [error-name]="'passwordNotSize'"
            [error-text]="'La contraseña debe tener al menos 6 dígitos, 1 número y un símbolo'"></o-validator>
        </o-password-input>
        <!-- Input de contraseña con atributos y configuraciones -->
        <o-password-input class="input-padding" attr="passwordConfirm" fxFlex="100" required="yes"
          (onChange)="reviewMatches($event)" label="Confirmar contraseña" show-password-button="yes"
          [validators]="validatorsArray">
          <o-validator [error-name]="'passwordNotMatched'" [error-text]="'Las contraseñas no coinciden'"></o-validator>
        </o-password-input>
        <!-- Input de confirmación de contraseña con atributos y configuraciones -->
      </o-row>

      <o-row class="form-row">
        <!-- Otra fila o-row con clase "form-row" -->
        <o-combo class="margin" attr="id_country" label="Escoge país" service="countries" entity="countries" keys="id"
          value-column="id" columns="id;country" visible-columns="country" required="yes" multiple="no" fxFlex
          sort="ASC" searchable="yes">
          <combo-translate-render></combo-translate-render>
        </o-combo>
        <!-- Combo (lista desplegable) con atributos y configuraciones -->
        <o-combo attr="id_language" label="Escoge idioma" service="languages" entity="languages" keys="id"
          value-column="id" columns="id;language" visible-columns="language" required="yes" multiple="no" fxFlex
          sort="ASC" searchable="yes">
          <combo2-translate-render></combo2-translate-render>
        </o-combo>
        <!-- Otro combo con atributos y configuraciones -->
      </o-row>

      <o-text-input attr="productList" oHidden #productList></o-text-input>
      <!-- Input de texto oculto con atributos -->

      <o-text-input attr="productList" oHidden #productList></o-text-input>
      <!-- Otro input de texto oculto con atributos -->

      <o-list #listProducts columns="name" attr="tableProducts" service="products" entity="product" keys="id"
        title="{{'PRODUCTOS' | oTranslate }}" detail-button-in-row="false" detail-mode="none" delete-button="no"
        refresh-button="no" pagination-controls="yes" page-size-options="5" query-rows="5">
        <!-- Lista o-list con atributos y configuraciones -->
        <mat-card *ngFor="let row of listProducts.dataArray" [o-list-item]="row" class="custom-card">
          <!-- Tarjeta mat-card dentro del bucle ngFor para mostrar elementos de la lista -->
          <o-slide-toggle attr="{{row.id}}" (onValueChange)="loadProducts($event)" label="{{row.name}}" [data]="false"
            read-only="no"></o-slide-toggle>
          <!-- Slide toggle con atributos y configuraciones -->
        </mat-card>
      </o-list>

    </div>
  </div>
</o-form>