@import "node_modules/@angular/material/theming";
// Include non-theme styles for core.
@include mat-core();

/* Color definitions */
$mat-custom-primary: (
  50: whitesmoke,
  100: whitesmoke, //fondo del link active
  200: #ff9fa4,
  300: #ff7278,
  400: #ff4e56,
  500: white, //fondo del menú
  600: #ff222c,
  700: #ff1a24,
  800: whitesmoke, //fondo menú desplegable
  900: #ff0008,
  A100: black,
  A200: #ffd9db,
  A400: #ff7278,
  A700: #ff5b60,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: black,
    500: black,
    600: black,
    700: black,
    800: black,
    900: black,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$mat-custom-accent: (
  50: black,
  100: rgb(85, 149, 233),
  200: black,
  300: black,
  400: black,
  500: rgb(85, 149, 233), //color letras botones
  600: black,
  700: #000000,
  800: #000000,
  900: black, //color links menú
  A100: black,
  A200: black,
  A400: #000000,
  A700: #000000,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: black, //flecha del botón
    600: #000000,
    700: black,
    800: black,
    900: black,
    A100: #000000,
    A200: #000000,
    A400: black,
    A700: black,
  ),
);


// Define a theme.
$primary: mat-palette($mat-custom-primary);
$accent: mat-palette($mat-custom-accent);
$background-color: white;

/* Light theme */
$theme: mat-light-theme($primary, $accent);

/* Dark theme */

//$primary-dark: mat-palette($mat-custom-primary);
//$accent-dark: mat-palette($mat-custom-accent);
//$theme: mat-dark-theme($primary-dark, $accent-dark);

// Insert custom background color
$background: map-get($theme, background);
$background: map_merge(
  $background,
  (
    background: $background-color,
  )
);

$theme: map_merge(
  $theme,
  (
    background: $background,
  )
);

*:hover{
  transition: 0.5s;
}

button.o-form-toolbar-button-insert{
  background: white !important;
  color: rgb(85, 149, 233) !important;
  border: 1px solid #d3d3d3 !important;
}

button.o-form-toolbar-button-insert:hover{
  background: rgb(85, 149, 233) !important;
  color: black !important;
  border: 1px solid rgb(85, 149, 233) !important;
}

button.mat-stroked-button{
  background: white !important;
  color: rgb(85, 149, 233) !important;
  border: 1px solid #d3d3d3 !important;
}

button.mat-stroked-button:hover{
  background: rgb(85, 149, 233) !important;
  color: black !important;
  border: 1px solid rgb(85, 149, 233) !important;
}