  .form-container{
    background: white;
    border-radius: 10px;
  }

  .titleText{
    background: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }

  .titleText2{
    background: #e4333c;
    color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }

  .background{
  background: white;
  border-radius: 10px;
  border: 1px solid #d3d3d3;
  }

  .margin{
    margin-right: 5px;
  }

  .form-background{
    background: whitesmoke;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    box-shadow: 5px 10px 8px #e2e2e2;
    text-align: center;
  }

  .userTable{
    text-align: left;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    height: auto;
  }

  .titleDiv{
    color: white;
    background: #211915;
  }
  
  .titleText{
    padding: 5px;
  }
  
  .highlight{
    color: #e4333c;
  }
  
  .title{
    color: #211915;
    font-weight: 300;
  }

  label{
      color: black !important;
  }

